@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Roboto+Serif:opsz,wght@8..144,600&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
/* 
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Serif', serif;

font-family: 'PT Serif', serif;

*/

* {
    margin: 0;
    background-color: white;
}

body {
    box-sizing: content-box;
}


header {
    height: 4.5rem;
    width: auto;
    box-shadow: 0px 2px 12px rgb(236, 236, 236);
    margin-bottom: .5rem;
    padding: 0 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {    
    font-family: 'PT Serif', serif;
    font-weight: 900;
    font-size: 2rem;    
}

#right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    width: 25%;
    min-width: 230px;
    max-width: 300px;
}

#right-header div:first-child i {
    padding-right: .6rem;  
}

#right-header div:nth-child(2) {
    border: 1px solid gainsboro;
    border-radius: 1.2rem 1.2rem;
    padding: 0 1rem;
    height: 2rem;
    width: auto;
    font-size: .75rem;

    display: flex;
    align-items: center;
}

#right-header div:last-child {
    height: 2.1rem;
    width: 2.1rem;
    border: 1px solid white;
    border-radius: 50%;
    background-color: orange;
    color: white;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* MAIN: INIZIO STILE */

main {
    display: flex;
    padding: 0 5rem;
}

#main-section {
    height: auto;
    width: 65%;
    padding-right: 2.7rem;
    padding-top: 2.5rem;
    border-right: 1px solid gainsboro;
}

.categories {
    display: flex;
    border-bottom: 1px solid gainsboro;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .7rem;
    color: rgb(165, 165, 165);
}

.categories .focused {
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    margin-left: 1.5rem;
}


/* ARTICOLI */

article {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 120px;
    margin-top: 2.5rem;
}

article .text {
    font-family: 'Roboto', sans-serif;
    padding-right: 1.5rem;
}

.author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .7rem;
    width: 200px;
    color: rgb(54, 54, 54);
    margin-bottom: .7rem;
}

.author i {
    font-size: 1.3rem;
}

.text h3 {
    font-size: 1.4rem;
}

.text .p {
    font-size: .85rem;
    color: rgb(100, 100, 100);
}

.text .article-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-bottom .article-bottom-sx {
    display: flex;
    align-items: center;
    margin-top: .5rem;
    font-size: .7rem;
    color: rgb(99, 99, 99);
}


.fa-circle {
    font-size: .15rem;
    padding: 0 .3rem;
}

.article-bottom .article-bottom-dx i:first-of-type {
    padding-right: .8rem;
    color: rgb(87, 87, 87);
}

.article-bottom .article-bottom-sx div {
    height: 20px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border: 1px solid white;
    border-radius: 10px 10px;
}

/* IMMAGINE */ 

article div:last-child img {
    width: 180px;
    height: 100%;
    object-fit: cover;
}

/* DISTANZIATORE ARTICOLI */ 

#main-section .space {
    height: 1.3rem;
    width: 100%;
}


/* --------------------------------- */ 
/* PANNELLO A DESTRA */ 

#right-panel {
    padding-left: 2.5rem;
}

.first-panel {
    height: 200px;
    width: 100%;
    padding: 2.2rem 0 1.8rem 0; 
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-panel .fa-medium {
    font-size: 2rem;
}

.first-panel .fa-plus {
    font-size: 1rem;
    font-weight: 100;
    color: rgb(145, 145, 145);
    margin: 0 .3rem;
}

.first-panel .fa-twitter {
    font-size: 1.5rem;
    color: rgb(78, 175, 255);
}
